{% extends './layout.html' %}

{% block title %}SmallPosting - Login{% endblock %}

{% block content %}
<div class="centered" style="width:500px; margin: 125px auto 0 auto">
    <form action="/users/login" method="POST">
        <h1>Login to the Site</h1><br>

        <label for="username">Username: </label>
        <input type="text" id="username" name="username" required/><br>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required/><br>

        <button type="submit">Login</button>
    </form>
</div>
{% endblock content %}