*{
    font-family: "Georgia";
    box-sizing:border-box;
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
    color:black;
}
ul, li{
    list-style-type:none;
    margin:0; padding:0;
}
small{
    color:dimgray;
}
body {
    overflow-y: scroll;
    padding: 0;
    width: 100%;
    margin-top:2rem;
    height:100%;
  }
nav ul{
    display:inline-block;
    text-align:center;
    width:100%;
}
nav li{
    display:inline-block;
    list-style-type:none;
    margin: auto 1em;
    text-align:center;
}
.centered{
    display:flex;
    justify-content: center;
    align-items: center;
}
form label{
    font-size:24px;
    margin: 20px 0;
    display:block;
}
form input{
    width:100%;
    height:26px;
    font-size:20px;
}
form button{
    width:50%;
    height:30px;
    font-size:16px;
    margin-left:24%;
    margin-top:20px;
}
button.link-submit{
    background-color:transparent;
    cursor:pointer;
    color:black;
    outline:none;
    border:none;
}
.posts{
    margin: 35px auto;
}
.posts .post{
    margin: 30px auto;
    padding-bottom:10px;
    border-bottom:1px solid dimgray;
}